.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.destroyActions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0;
}

.destroy {
    padding: 5px;
}

.externalBuildings {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.externalBuildingsList {
    height: 100%;
}

.tabs {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
