.screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000;
    color: #c99507;
    font-size: 24px;
}

.screen {
}

.submitButton {
    margin-top: 15px;
}

.submitButton button {
    cursor: pointer;
}

.registrationProposal {
    margin-top: 10px;
}

.registrationProposal a {
    color: cornflowerblue;
}

.registrationProposal a:visited {
    color: cornflowerblue;
}

.header {
    color: #c99507;
    font-size: 56px;
}