.screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitButton {
    margin-top: 15px;
}

.submitButton button {
    cursor: pointer;
}

.loginProposal {
    margin-top: 10px;
}